@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto-mono: "Roboto Mono", monospace;
}
::-webkit-scrollbar {
  display: none; /* Sembunyikan scrollbar di browser berbasis Webkit */
}
.roboto {
  font-family: var(--font-roboto-mono);
}
